<h1 mat-dialog-title>REGISTRO DE PQR</h1>

<div mat-dialog-content>
  <div *ngFor="let field of formFields">
    <ng-container
      *ngTemplateOutlet="
        field.type === 'dropdown'
          ? dropdown
          : field.type === 'date'
          ? datePicker
          : field.type === 'textArea'
          ? textArea
          : input;
        context: { $implicit: field }
      "
    ></ng-container>
  </div>
</div>

<!--actions-->
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onAccept()" cdkFocusInitial>Aceptar</button>
</div>

<!--templates-->
<!--input-->
<ng-template #input let-field>
  <mat-form-field class="full-width">
    <input
      matInput
      [name]="field.name"
      [(ngModel)]="pqr[field.name]"
      [placeholder]="field.label"
    />
  </mat-form-field>
</ng-template>
<!--textarea-->
<ng-template #textArea let-field>
  <mat-form-field class="full-width">
    <textarea
      matInput
      [name]="field.name"
      [(ngModel)]="pqr[field.name]"
      [placeholder]="field.label"
    ></textarea>
  </mat-form-field>
</ng-template>
<!--dropdown-->
<ng-template #dropdown let-field>

  <mat-form-field class="full-width">
    <mat-label>{{ field.label }}</mat-label>
    <mat-select [name]="field.name" [(ngModel)]="pqr[field.name]">
      <mat-option
        *ngFor="let option of this[field.options] | async"
        [value]="option.value"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<!--Date Picker-->
<ng-template #datePicker let-field>
  <mat-label>{{ field.label }}</mat-label>
  <mat-form-field class="full-width">
    <input
      (click)="picker.open()"
      (focus)="picker.open()"
      [(ngModel)]="pqr[field.name]"
      [matDatepicker]="picker"
      [name]="field.name"
      matInput
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-template>
